@import "./variables";

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto';
  margin: 0;
  padding-top: 0.1px; // Prevent header h1 margin from pushing body down
}

main {
  display: flex;
  width: 760px;
  height: 650px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

a {
  color: #212121;
}
